<div class="quiz-section">
    <div class="score-check"></div>

    <div class="quiz-img-container">
        <h1 class="progress-bar">
            <%=@fraction_of_guessed[0]%>/<%=@fraction_of_guessed[1]%>
            <%=@progress_bar%>(<%=@percent_of_guessed%>%)
        </h1>
        <img class="quiz-img" src="/img/students/<%=@id%>.jpeg" alt="student">
        <div class="quiz-mode-container">
            <p><%=@mode%></p>
            <form action="/<%=@game_id%>/mode_toggle" method="POST">
                <input type="submit" value="Toggle Mode">
            </form>
        </div>
    </div>

    <div class="form-container">
        <form action="/quiz/<%=@game_id%>/<%=@id%>" method="POST" autocomplete="off">
            <input class="quiz-input" type="text" name="student_name" placeholder="Enter Guess!"> 
            <input class="quiz-submit" type="submit" value="Guess">
        </form>
    </div>
    <%unless @last_guess == nil%>
        <%if @last_guess[1]%>
            <div class="correct-popup">Correct!</div>
        <%else%>
            <div class="incorrect-popup">Wrong, the correct name was <%=@last_guess[0]%></div>
        <%end%>
    <%end%>
</div>